# .easignore
node_modules/
.expo/
.git/
dist/
web-build/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.tsbuildinfo
.vscode/
.idea/
*.orig.*
*.rej
.nyc_output
coverage/
.cache/
.parcel-cache/
.next/
out/
build/
android/app/build/
android/build/
ios/build/
.gradle/
*.hprof
*.keystore
*.mobileprovision
*.p8
*.p12
*.key
*.pem
.env*.local
.expo-shared/
expo-env.d.ts